# file options

--exclude Tests/XCTestManifests.swift,Tests/BadConfig,Snapshots,Build,PluginTests

# format options

--allman false
--binarygrouping 4,8
--commas always
--closurevoid remove
--decimalgrouping 3,6
--elseposition same-line
--voidtype void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--indent 4
--indentcase false
--importgrouping testable-bottom
--linebreaks lf
--maxwidth 120
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--stripunusedargs always
--swiftversion 5.1
--trimwhitespace always
--wrapparameters before-first
--wraparguments before-first
--wrapcollections preserve
--redundanttype inferred
--typeblanklines preserve
--funcattributes prev-line

# rules

--enable isEmpty
--enable blanklinesbetweenimports
--enable blankLinesBetweenScopes
--enable consecutiveSpaces
--enable duplicateImports
--enable redundantBackticks
--enable redundantNilInit
--enable spaceAroundParens